@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#main-navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

#main-navigation a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #ffb866;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: #ffc686;
}

body {
    background-color: #e7e7e7;
  }

#main-navigation {
    background-color: #0b2357;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#search {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
}

#search_button {
    margin-left: 27rem;
    margin-top: 2rem;
}

#all-books {
    margin: 7rem auto;
    width: 90%;
    max-width: 80rem;
  }
  
#all-books h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
  }

.book {
    height: 30rem;
    width: auto;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
}

.book img {
    margin: 1rem 0 0 5.5rem;
  }

.book h3 {
    text-align: center;
}

.book p {
    text-indent: 5%;
}